body {
    background-color: rgb(155, 243, 206);
    color: rgb(211, 206, 134), 255); 
}

.Bienvenidoss {
    background-color: rgb(25, 219, 122);
    
}

.imgRedonda {
    width: 298px;
    height: 298px;
    border-radius: 149px;
}