body {
    background-color: rgb(155, 243, 206);
    color: rgb(211, 206, 134), 255); 
}

.Bienvenidoss {
    background-color: rgb(49, 236, 190);
    
}

.imgRedonda {
    width: 298px;
    height: 298px;
    border-radius: 149px;
}

.FondoTarjetas {
    background-color: rgb(81, 197, 164);}

.FondoTarjetas2 {
 background-color: rgb(81, 197, 191);}

 .Portfolio {
  color: rgb(132, 160, 238);}
  .Equipo {
    color: rgb(132, 160, 238);}
    .Contactanos {
        color: rgb(132, 160, 238);}


        .Bienvenidoss {
            color: rgb(255, 255, 255);}